<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Base</title> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'hotellu_app:index' %}">Home Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'admin:index' %}">Admin <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'hotellu_app:register' %}">Register</a>

          <div class="container">
          {% if user.is_authenticated %}
          <li><a class='navbar-link' href="{% url 'hotellu_app:user_logout' %}">Logout</a></li>
          {% else %}
          <li><a class='navbar-link' href="{% url 'hotellu_app:user_login' %}">Login</a></li>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>

      <!-- Proivde the content that are required to be inherited -->
      {% block body_block %}
      {% endblock %}

  </body>
</html>
